
.cabecera{
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.links{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    justify-content: space-around;
    
}

a{
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    color: black;
    justify-content: center;
    padding: 10px;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0;

}

