
.cabecera{
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.links{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    justify-content: space-around;
    
}

img{
    width: auto;
    height: 155px;
    display: block;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0;
    border: 5px solid black;
    padding: 0;
    margin: 5px;
    flex: 1;

}