h1{
    text-align: center;
    font-size: 5em;
}

.portafolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filas{
    margin: 5px;
}

.portafolio img{
    width: 97%;
    height: auto;
    
}
    