
.cabecera{
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.links{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    justify-content: space-around;
    
}

img{
    width: auto;
    height: 150px;
    display: inline-block;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0;
    border: 1px dotted black;
    padding: 20px;
    margin: 5px;

}