* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
}

.menu a {
  display: inline;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.botones button {
  padding: 6px 12px;
  border: 1px solid #333;
  background: white;
  margin-left: 10px;
  cursor: pointer;
}

.botones .oscuro {
  background: #333;
  color: white;
}

.seccion-inline-block {
  border: 1px solid #000;
  margin: 30px;
  text-align: center;
}

.tarjeta {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  background: blue;
  padding: 4em 0;
}

.seccion-inline {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  margin: 20px 30px;
}

.seccion-inline span {
  display: inline;
  margin: 0 20px;
  padding: 5px 15px;
}

img{
  width: 20%;
  height: auto;
}

.seccion-bloques {
  margin: 30px;
  padding: 20px;
  border: #000 1px solid;
}

.bloque {
  display: block;
  background-color: grey;
  margin-bottom: 15px;
  padding: 10px;
}

.bloque p {
  display: inline-block;
  width: 60px;
}

.bloque select {
  display: inline-block;
  width: 120px;
  margin: 0 10px;
}

.bloque img {
  width: 25%;
}

.seccion-layout { margin: 40px; }
.seccion-layout div {
  border: 1px solid #000;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
}
.fijo { width: 800px; margin: auto; }
.elastico { width: 60em; margin: auto; }
.fluido { width: 100%; }
.hibrido { width: 80%; max-width: 1200px; margin: auto; }

.seccion-box {
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
.caja {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 10px solid #333;
  background: #eee;
}
.content-box { box-sizing: content-box; }
.border-box { box-sizing: border-box; }

.seccion-centrado { margin: 40px; }
.centro-inline { text-align: center; border: 1px solid #000; margin: 10px; }
.centro-bloque {
  width: 200px;
  margin: 10px auto;
  border: 1px solid #000;
  text-align: center;
}
.vertical-inline {
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #000;
  margin: 10px;
}
.vertical-bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #000;
  margin: 10px;
}

.seccion-posicion { margin: 40px; }
.estatico { position: static; border: 1px solid #000; padding: 10px; margin-bottom: 10px; }
.relativo { position: relative; top: 20px; left: 20px; background: #fdd; border: 1px solid #000; padding: 10px; margin-bottom: 10px; }
.fijo-pos { position: fixed; bottom: 10px; right: 10px; background: #dfd; padding: 10px; border: 1px solid #000; }
.contenedor-abs {
  position: relative;
  border: 1px solid #000;
  height: 100px;
  margin-bottom: 10px;
}
.absoluto {
  position: absolute;
  top: 10px; right: 10px;
  background: #ddf;
  padding: 10px;
  border: 1px solid #000;
}
.pegajoso {
  position: sticky;
  top: 0;
  background: #ffd;
  padding: 10px;
  border: 1px solid #000;
}

.seccion-columnas {
  margin: 40px;
  border: 1px solid #000;
  padding: 15px;
}
.seccion-columnas article {
  column-count: 3;
  column-gap: 20px;
  column-rule: 1px solid gray;
}

.seccion-flotantes {
  margin: 40px;
  border: 1px solid #000;
  padding: 15px;
}
.izquierda { float: left; margin-right: 10px; }
.derecha { float: right; margin-left: 10px; }
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

