.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
}

.campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 100%;
}

label{
    margin-left: 2em;
}

.input {
    width: 80%;
    padding: 10px;
    
}

.checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-right: 3em;
    
}

.checkbox label {
    display: flex;
    align-items: center;
    width: 80%;
    
}


