.conjunto-filas {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.fila {
    display: flex;
    background-color: black;
}

.elemento {
    flex: 1;
    background-color: grey;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid white;
}

